/* FOR HOME PAGE */
#content {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: blueviolet; */
  background-image: url("poke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
nav:not(#content) {
  height: 10%;
  background-color: black;
  position: relative;
  z-index: 1;
}
ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  padding: 15px;
  color: white;
}
button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
#background {
  width: 100%;
  height: calc(100% - 10%);
  /* background-image: url("poke.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
}
.flexbox {
  flex: 1;
}
#whitebox {
  background-color: aliceblue;
  min-height: 600px;
  width: 50%;
  position: relative;
  left: 5%;
  top: 10%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 15px;
}
#whitebox > div {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}
#name {
  font-family: "Agbalumo", sans-serif;
  min-height: 60%;
  position: relative;
  width: 45%;
  left: 35%;
  top: 0;
  font-size: 8rem;
  background-color: transparent;
  color: white;
  font-weight: 800;
}
p {
  text-align: center;
}

/* FOR MENU PAGE */
